<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>GfNクランメンバー</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<meta name="keywords" content="キーワード１,キーワード２,キーワード３,キーワード４,キーワード５">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/openclose.js') }}"></script>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>

<header>
<div class="inner">
<h1 id="logo"><a href="GfN"><img src="{{ url_for('static', filename="images/logo.png" ) }}" alt="Sample Company"></a></h1>
<!--大きな端末用(801px以上端末)メニュー-->
<nav id="menubar">
<ul class="inner">
<li><a href="GfN">HOME</a></li>
<li><a href="company">GfN</a></li>
<li class="current"><a href="service">MEMBER</a></li>
<li><a href="law">LINK</a></li>
<li><a href="contact">CONTACT</a></li>
</ul>
</nav>
</div>
</header>

<!--小さな端末用（800px以下端末）メニュー-->
<nav id="menubar-s">
<ul>
<li><a href="GfN">HOME</a></li>
<li><a href="company">GfN</a></li>
<li><a href="service">MEMBER</a></li>
<li><a href="law">LINK</a></li>
<li><a href="contact">CONTACT</a></li>
</ul>
</nav>

<div class="contents">
<div class="inner">

<div class="main">

<section>

<h2><span>役員</span></h2>

<div class="list">
<a href="kanimanako">
<figure><img src="{{ url_for('static', filename="images/image0.png" ) }}" alt=""></figure>
<h4>kanimanako</h4>
<p>GfNクランリーダー<br>valorant部門</p>
</a>
</div>

<div class="list">
<a href="sirupusu">
<figure><img src="{{ url_for('static', filename="images/image1.png" ) }}" alt=""></figure>
<h4>メイプル</h4>
<p>GfNクランの動画担当<br>valorant部門</p>
</a>
</div>

<div class="list">
<a href="tako">
<figure><img src="{{ url_for('static', filename="images/image3.jpg" ) }}" alt=""width="150%" height="150%"></figure>
<h4>tako</h4>
<p>GfNクランのGM<br>                                     valorant部門</p>
</a>
</div>

<div class="list">
<a href="kanade">
<figure><img src="{{ url_for('static', filename="images/image2.jpg" ) }}" alt=""></figure>
<h4>kanade</h4>
<p>GfNクランの何もやらない担当<br>valorant部門</p>
</a>
</div>


</section>
<h2><span>valorant部門</span></h2>

<div class="list">
<a href="kanimanako">
<figure><img src="{{ url_for('static', filename="images/image0.png" ) }}" alt=""></figure>
<h4>kanimanako</h4>
<p>GfNクランリーダー<br>valorant部門</p>
</a>
</div>

<div class="list">
<a href="sirupusu">
<figure><img src="{{ url_for('static', filename="images/image1.png" ) }}" alt=""></figure>
<h4>メイプル</h4>
<p>GfNクランの動画担当<br>valorant部門</p>
</a>
</div>

<div class="list">
<a href="tako">
<figure><img src="{{ url_for('static', filename="images/image3.jpg" ) }}" alt=""width="150%" height="150%"></figure>
<h4>tako</h4>
<p>GfNクランのGM<br>                                     valorant部門</p>
</a>
</div>

<div class="list">
<a href="kanade">
<figure><img src="{{ url_for('static', filename="images/image2.jpg" ) }}" alt=""></figure>
<h4>kanade</h4>
<p>GfNクランの何もやらない担当<br>valorant部門</p>
</a>
</div>


<h2><span>Apex部門</span></h2>


<div class="list">
<a href="猫又熊鬼つっくん">
<figure><img src="{{ url_for('static', filename="images/image4.jpg" ) }}" alt=""></figure>
<h4>猫又熊鬼つっくん</h4>
<p>誰だこいつ<br>Apex部門</p>
</a>
</div>

<div class="list">
<a href="ハラ">
<figure><img src="{{ url_for('static', filename="images/image5.jpg" ) }}" alt=""></figure>
<h4>ハラ</h4>
<p>誰だこいつ<br>Apex部門</p>
</a>
</div>

<div class="list">
<a href="ハラ">
<figure><img src="{{ url_for('static', filename="images/image.jpg" ) }}" alt=""></figure>
<h4>チキン竜田</h4>
<p>誰だこいつ<br>Apex部門</p>
</a>
</div>

</div>
<!--/main-->

<div class="sub">

<nav class="box1">
<h2>Menu</h2>
<ul class="submenu">
<li><a href="GfN">ホーム</a></li>
<li><a href="company">クラン概要</a></li>
<li><a href="service">メンバー紹介</a></li>
<li><a href="law">規則</a></li>
<li><a href="contact">お問い合わせ</a></li>
</ul>
</nav>

<div class="box1">
<h2>次の予定</h2>
<p>このボックスは、class="box1"と指定すれば出ます。</p>
</div>

<h2>Access</h2>
<div class="box1">
<strong>TEL:090-2091-5816</strong><br>
受付：00:00〜00:00<br>
定休日：なし
</div>

</div>
<!--/sub-->

</section>

</div>
<!--/inner-->
</div>
<!--/contents-->

<!-- <div class="contents bg1">
<div class="inner">

<section>

<h2>サービス（１カラム使用例）</h2>

<div class="list">
<a href="service2.html">
<figure><img src="{{ url_for('static', filename='images/sample1.jpg') }}" alt=""></figure>
<h4>Sample Title</h4>
<p>規則が貼ってあると右下に「→」のマークが出ます。「→」のマークはcssフォルダのstyle.cssで変更できます。詳しくはcssファイルをご覧下さい。</p>
</a>
</div>

<div class="list">
<a href="service2.html">
<figure><img src="{{ url_for('static', filename='images/sample1.jpg') }}" alt=""></figure>
<h4>Sample Title</h4>
<p>規則が貼ってあると右下に「→」のマークが出ます。「→」のマークはcssフォルダのstyle.cssで変更できます。詳しくはcssファイルをご覧下さい。</p>
</a>
</div>

<div class="list">
<a href="service2.html">
<figure><img src="{{ url_for('static', filename='images/sample1.jpg') }}" alt=""></figure>
<h4>Sample Title</h4>
<p>規則が貼ってあると右下に「→」のマークが出ます。「→」のマークはcssフォルダのstyle.cssで変更できます。詳しくはcssファイルをご覧下さい。</p>
</a>
</div>

<div class="list">
<figure><img src="{{ url_for('static', filename='images/sample1.jpg') }}" alt=""></figure>
<h4>Sample Title</h4>
<p>こちらは規則を貼っていないタイプです。マークは出ません。</p>
</div>

<div class="list">
<figure><img src="{{ url_for('static', filename='images/sample1.jpg') }}" alt=""></figure>
<h4>Sample Title</h4>
<p>こちらは規則を貼っていないタイプです。マークは出ません。</p>
</div>

<div class="list">
<figure><img src="{{ url_for('static', filename='images/sample1.jpg') }}" alt=""></figure>
<h4>Sample Title</h4>
<p>こちらは規則を貼っていないタイプです。マークは出ません。</p>
</div>

</div>

</div> -->


<p id="pagetop" class="inner"><a href="#">↑</a></p>

<footer>

<div id="footermenu" class="inner">
<ul>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
</ul>
<ul>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
</ul>
<ul>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
</ul>
<ul>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
</ul>
<ul>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
</ul>
</div>
<!--footermenu-->

<div id="copyright">
<small>Copyright&copy; <a href="GfN">SAMPLE GfN</a> All Rights Reserved.</small>
<span class="pr"><a href="http://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</div>

</footer>

<!--メニューの３本バー-->
<div id="menubar_hdr" class="close"><span></span><span></span><span></span></div>
<!--メニューの開閉処理条件設定　800px以下-->
<script type="text/javascript">
if (OCwindowWidth() <= 800) {
	open_close("menubar_hdr", "menubar-s");
}
</script>
</body>
</html>
