<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>sumaaのWEBサイト</title>
    <link rel="shortcut icon" href="/icon.jpeg" type="image/png">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>
    <h1 style="color: rgb(4, 255, 79);">ファイル保管庫</h1>
    
    {% for name, key in data %}
    <a href="/drive/{{name}}" download id="{{name}}">{{ name }}</a>
    <button id="{{key}}"> delete </button><br><br>
    <script>
        $("#{{key}}").click(function () {
            const check = confirm('本当に削除しますか？');
            if (check) {
                fetch("/delete/{{name}}", { method: "POST" }).then(() => {
                    location.reload()
                }).catch((error) => {
                    alert(error)
                })
            }
        })
    </script>
    {% endfor %}
    
    <a href="/">戻る</a><br>
</body>

</html>