<html>
    <head>
        <script>
            $(function () {
                $('.upload').on('click', function (evt) {
                    var formData = new FormData();
                    formData.append("file", $(".file")[0].files[0]);
                    var progressBar = document.getElementById('prog');
                    var progressValue = document.getElementById('pv');
                    $.ajax({
                        url: 'アップロード用のAPI等を指定',
                        type: 'POST',
                        processData: false,
                        contentType: false,
                        async: true,
                        data: formData,
                        xhr : function(){
                            XHR = $.ajaxSettings.xhr();
                            if(XHR.upload){
                                XHR.upload.addEventListener('progress',function(e){
                                    var progVal = parseInt(e.loaded/e.total*10000)/100 ;
                                    progressBar.value = progVal;
                                    progressValue.innerHTML = progVal + '%';

                                }, false);
                            }
                            return XHR;
                        },
                        success: function (data) {
                            console.log(data);
                            $('.message').append('success\n');
                        },
                        error: function () {
                            $('.message').append('failure\n')
                        }
                    });
                });
            });
        </script>

        <title>upload</title>
    </head>
    <body>
        <input class="file" type="file" name="file" /><br />
        <input class="upload" type="button" value="upload" />
        <div class="message"></div>
        <progress value="0" id="prog" max=100></progress>(<span id="pv" style="color:#00b200">0%</span>)
    </body>
</html>