<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ダウンロードページ</title>
  <link rel="shortcut icon" href="/icon.jpeg" type="image/png">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>

<body>
  <div id="aaaa"></div>

  <!-- {% for rank in data %}
  <a href="/drive/{{rank}}" download>{{ rank }}</a>

  <button id="btn" type="submit" onclick="butotnClick({rank})">削除</button>
  <br>
  {% endfor %} -->
  {% for i, b in data.items() %}

  <a href="/drive/{{i|safe}}" download>{{ rank }}</a>
  <button id="{{j|safe}}"> delete </button><br>
  <script>
    $("#{{j|safe}}").click(function () {
      const rank = "{{i|safe}}"

      let check = confirm('本当に削除しますか？');
      console.log(check);


      if (check) {
        console.log(rank)
        //location.href = '/delete/' + file;
      }
    })
    //let button = document.getElementById('btn');
    //button.addEventListener('click', butotnClick);
  </script>
  {% endfor %}
  <a href="/">戻る</a><br>
</body>

</html>