<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>sumaaのWEBサイト</title>
    <link rel="shortcut icon" href="/icon.jpeg" type="image/png">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>

<body>

    <form action="https://sssumaa.net/signin" method="post">
        <input name="id" type="text" id="id" placeholder="UserName">
        <input name="Passwords" type="password" id="Passwords" placeholder="Passwords">
        <!-- <button name="send" type="button" id="send" >送信</button> -->
        </form>

        <button name="send" type="button" id="send" onclick="send()">送信</button>

        <script>
            // $("#send").on("click", function () {
            function send(){

                xhr = new XMLHttpRequest();
        
                xhr.open('POST', '/signin', true);
                xhr.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
                var request = "id=" + id.value + "&Passwords=" + Passwords.value;
                xhr.send(request);
                xhr.onload = function () {
                    
                }
                xhr.onerror = function () {
                    alert("アップロードに失敗しました")
                    }
            // });
            }
    
    
    
        </script>


</body>
