<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>sumaaのWEBサイト</title>
  <link rel="shortcut icon" href="/icon.jpeg" type="image/png">

</head>

<html>
  <body>
    <h1 style="color: rgb(255, 0, 230);">
      
      Hey guys! We have a gift for you.<br>
      We just need you to answer a few questions first, then you’ll earn a nice reward.<br>
      It’s very quick and simple!<br>
      It only takes a minute.<br>
      So come on, click on the following link to claim your gift.<br>
      Don’t wait, times is running out.<br>
      Click on the link and enjoy your free gift.<br>
      Now hurry up!<br>
      Click on the link and enjoy your free gift.<br>
      If you click the link,K/D will buy what you want. <br>
    </h1>
    <a href="https://www.digital.go.jp/" download>こちらをクリック</a><br><br>
    <a href="#" onclick="javascript:window.history.back(-1);return false;">Back</a>


<a href="/upload">upload</a>
<a href="/download">download</a>
<a href="/top">topサイト</a>
<a href="editfavo">お気に入り変更</a>

</body>
<br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>
</form>
<form action="/GfN/GfN">
<button type="submit">GfN公式サイト　※神サイトにつながるとは限りません</button>
</form>
</html>