<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>sumaaのWEBサイト</title>
  <link rel="shortcut icon" href="/icon.jpeg" type="image/png">

</head>

<html>
  <body>
    <a href="#" onclick="javascript:window.history.back(-1);return false;">Back</a>


<a href="/upload">upload</a>
<a href="/download">download</a>
<a href="/top">topサイト</a>
<a href="/editfavo">お気に入り変更</a>
<a href="/login">login<a>
<a href="/signup">signup</a>
<a href="/logout">logout<a>

</html>